@import url(https://fonts.googleapis.com/css?family=Raleway:400,300|Bitter);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$headers-color:  #3B1C00;
$headers-font: 'Bitter' ,sans-serif;

$body-font: 'Raleway', sans-serif;
$body-background: #FAFAFB;
$body-font-light: #3A4F52;

$header-background: #FF9900;

.header {
  background-color: $header-background;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.container {
  margin-top: 11em;
}
